[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
staintools = {editable = true,path = "."}
pytest = "*"
setuptools = "*"
twine = "*"
bumpversion = "*"

[packages]
numpy = "*"
opencv-python = "*"
matplotlib = "*"
spams = "*"

[requires]
python_version = "3.5"
